.product_profile{
    padding: 5px;
    padding-left: 20px;
}

.product_profile a{
    color: #343a40;
}

.product_name{
    color: white;
    font-size: 30px;
}

.product_price{
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

.product_owner{
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

.product_owner a{
    color: #7BA864;
}


.product_description{
    margin-top: 10px;
    color: white;
    font-size: 20px;
}