{% extends 'base.html' %}
{% load static %}


{% block custom_css %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/profile.css" type="text/css">
{% endblock %}


{% block title %}Пользователь :: {{ user.username }}{% endblock %}

{% block content %}

        <div class="row">

            <div class="col-3">
                <div class="profile_short_card">

                    <div class="user_title">
                        {{ user.username }}
                    </div>

                        {% get_static_prefix as STATIC_PREFIX %}

                        {% if user.profile.avatar %}
                            <img class="user_avatar" src="{{ user.profile.avatar.url }}">
                        {% else %}
                            <img class="user_avatar" src="{{ STATIC_PREFIX }}img/default_profile_avatar.jpg">
                        {% endif %}

                        {% if request.user.pk == user.pk %}
                            <div class="allow_update">
                                <a href="{% url 'accounts:profile_update' user.pk %}">
                                    <button type="button" class="btn btn-info btn-sm">Изменить</button>
                                </a>
                            </div>
                        {% endif %}

                        <div class="register_date">
                            <p>Дата регистрации</p>
                            <p>{{ user.date_joined }}</p>
                        </div>
                    </div>

            </div>

            <div class="col-1"></div>

            <div class="col-8">
                <div class="profile_short_about">

                    <div class="user_life_name">
                        Имя: {{ user.profile.name }}
                    </div>
                    <hr color="white">
                    <div class="user_about_self">
                        О себе: {{ user.profile.bio }}
                    </div>

                </div>
            </div>

        </div>



        {% if qs %}
                <div class="users_products">
                    Товары пользователя:
                </div>

                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Название</th>
                      <th scope="col">Цена
                      {% if request.user.pk == user.pk %}
                      <th scope="col">&nbsp;</th>
                      {% endif %}
                    </tr>
                  </thead>
                <tbody>
                {% for product in qs %}
                <tr>
                      <td><a href="{% url 'products:detail' product.slug %}">{{ product.name }}</a></td>
                      <td>{{ product.price }}</td>
                      {% if request.user.pk == product.owner.pk %}
                      <td><a href="{% url 'products:update' product.slug %}"><button class="btn btn-outline-secondary btn-sm">Редактировать</button></a></td>
                      {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                </table>
        {% endif %}

{% endblock  %}



