{% extends 'base.html' %}

{% load static %}



{% block custom_css %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/profile_update.css" type="text/css">
{% endblock %}

{% block title %}Редактирование :: {{ user.username }}{% endblock %}

{% block content %}

            {% if request.user.pk == profile.user.pk %}

            <div class="profile_update_form_custom bg-dark" style="color: white; padding-left: 12px;
padding-bottom: 20px;">
                <p style="font-size: 30px;">Редактирование профиля</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                        {{ form.as_p }}

                <input type="submit" value="Сохранить">
            </div>

            {% else %}

                <div class="error_account_access">
                    Нет доступа
                </div>

            {% endif %}

{% endblock %}