.product_profile{
    border: #343a40 solid 3px;
    padding: 5px;
}

.product_profile a{
    color: #343a40;
}

.product_name{
    color: white;
    font-size: 30px;
}

.product_price{
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

.product_owner{
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

.product_description{
    margin-top: 10px;
    color: white;
    font-size: 20px;
}