{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/product_detail.css" type="text/css">
{% endblock %}

{% block title %}Товары{% endblock %}



{% block content %}


<div class="product_profile bg-dark">
    <div class="product_name">
        {{ object.name }}
    </div>

    <div class="product_price">
        Цена: {{ object.price }}
    </div>

    <div class="product_owner">
        Продавец: <a href="{% url 'accounts:profile' object.owner.pk %}">{{ object.owner }}</a>
    </div>

    <div class="product_description">
        Описание: <br>
        {{ object.description }}
    </div>
</div>


{% endblock %}