{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/product_detail.css" type="text/css">
{% endblock %}

{% block title %}Редактировать товар{% endblock %}



{% block content %}

{% if request.user.pk == object.owner.pk %}

<div class="update_label bg-dark" style="color: white; padding-left: 25px; padding-top: 10px;
padding-bottom: 10px;"><p style="margin: 0; font-size: 30px;">Редактирование товара</p></div>

{% include 'product_form.html' with button='Редактировать' %}

{% else %}

<h2>Это не ваш товар :(</h2>

{% endif %}

{% endblock %}